{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
  </head>
  <body>
    <nav class="navbar navbar-inverse" >
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">Gram</a>
        </div>
        <!-- Adding a search form -->
        <div class="col-sm-4 col-md-4 navbar-right">
          <form class="navbar-form" role="search"  action="">
            <div class="input-group">
              <input type="text" class="form-control" style="text-align: center;" placeholder="Search..." name="gram">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i> </button>              
              </div>
            </div>
          </form>
        </div>
        <!-- End of search form -->

        <div class="col-sm-6 col-md-6">
          {% if user.is_authenticated %}
          <ul>
            <p class="dropdown">
              <a href="#" class="dropdown-toggle btn " data-toggle="dropdown" role="button" aria-expanded="false">
                Account <span class="caret"></span>                
              </a>
              <a href="/accounts/logout">Logout</a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a class="dropdown-item" href="">Home</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/accounts/password/change">Change Password</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/accounts/logout">Logout</a>
                </li>
              </ul>
            </p>
          </ul>          
          {% else %}
          <p>
            <a class='btn btn-default' href="/accounts/login">Login</a>
          </p>

          {% endif %}
        </div>

      </div>
    </nav>
  </body>
</html>